# OS
.DS_Store
Thumbs.db

# Git
*.patch
*.tar.gz

# Node / npm
node_modules/
.npm
package-lock.json
pnpm-lock.yaml

# VuePress
docs/.vuepress/.temp/
docs/.vuepress/.cache/
docs/.vuepress/dist/

# Cloudflare Workers / Wrangler
.dist/
.wrangler/
.env*

# Build output
dist/
build/
